.container-fluid, .row, .col-sm-10 {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: visible;
}


   body{
      padding: 0;
      margin: 0;
  }

  #btn{
    background: #fea;
    padding: 15px;
    font-family: DreamDecorFontA;
  } 

  #toggleWireframe{
    background: #fea;
    padding: 15px;
    font-family: DreamDecorFontA;
  }

  #Rotate{
    background: #fea;
    padding: 15px;
    font-family: DreamDecorFontA;
  }

  #showModelA{
    background: rgb(141, 222, 247);
    padding: 15px;
    font-family: DreamDecorFontA;
  }

  #showModelB{
    background: rgb(141, 222, 247);
    padding: 15px;
    font-family: DreamDecorFontA;
  }

  #showModelC{
    background: rgb(141, 222, 247);
    padding: 15px;
    font-family: DreamDecorFontA;
  }

  #playSecondModelAnimation{
    background: #fea;
    padding: 15px;
    font-family: DreamDecorFontA;
  }

  #threeContainer {
    width: 100%;
    height: 100vh; position: relative;
    display: block;
    overflow: hidden;
  }

  #gui-container {
    position: absolute;
    top: 120px; 
    left: 10px; 
    z-index: 1000; 
  
  }
